*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
/* font-family: 'Pixelify Sans', sans-serif; */
    
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
    
    
}
#nav{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 8%;
    gap: 5%;
    /* background-color: aqua; */
    position: fixed;
    z-index: 100;

}
#nav img{
    height: 50%;
    text-transform: uppercase;
    transition: all linear 0.5s;
    /* font-weight: 5; */
}
#nav img:hover{
    height: 30%;
    /* transition: all ease-in; */
}
#nav h4{
    transition: all linear 0.3s;
}
#nav h4:hover{
    color: #bafd00;
}
video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}
#cursor{
    background-color: #c7ff2e;
    border-radius: 50%;
    position: fixed;
    height: 15px;
    width: 15px;
    z-index: 2;
}
#bigcursor{
    background-color: #c7ff2e37;
    border-radius: 50%;
    position: fixed;
    height: 500px;
    width: 500px;
    z-index: 1;
    filter: blur(50px);
}
#main{
    position: relative;
    
    background-color: rgba(0, 0, 0, 0.306);
}
#page1{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 10%; */
}
#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    z-index: -1;
    -webkit-text-stroke: 2px #c7ff2e;
    /* margin-top: 15vh; */
}
#page1 h1{
    font-size: 20vh;
    position: relative;
    width: 60vw;
    margin-top: 15vh;
}

#page1 h2{
    font-size: 40px;
    font-weight: 900;
    margin: 0% 0% 0.5% 0%;
}
#page1 h5{
    font-size: 15px;
    font-weight: 100;
    width: 40%;
}

#page2{
    width: 100%;
    height: 100vh; 
     
} 

#scroller {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 3;
}

#scrollerin {
    display: flex;
    animation-name: scroll;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 3;
}

#scrollerin h4 {
    display: inline-block;
    font-size: 20vh;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    color: transparent;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    position: relative;
    z-index: 3;
    transition: all linear 0.5s;
    font-weight: 800;
}

#scrollerin h4:hover {
    color: #bafd00;
    /* transition: all linear 0.5s; */
    z-index: 3;
}


@keyframes scroll {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
#aboutus{
    display: flex;
    margin: 20vh 10vw;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
#pics1 img{
    border-radius: 5%;
    /* width: 20vw; */
    height: 20vh;
    position: relative;
    z-index: 2;
    transition: all linear 0.3s;
}
#wrb{
    margin: 0vh 10vw;
    text-align: center;
    /* padding: 2vh 0vh; */
    width: 60%;
    position: relative;
    /* justify-content: center;
    align-items: center; */
    display: flex table-column;
}
#aboutus h4{
    font-size: 50px;
    margin: 1vh 0vw;
    font-weight: 900;
    position: relative;
}
#wrb p{
    font-size: 15px;
    font-weight: 100;
    position: relative;
}
#pics2 img{
    border-radius: 5%;
    /* width: 20vw; */
    height: 20vh;
    position: relative;
    z-index: 2;
    transition: all linear 0.3s;
}
#pics1 img:hover{
    height: 15vh;
}
#pics2 img:hover{
    height: 15vh;
}
#footer{
    margin-top: 20vh;
    width: 100%;
    height: 40vh;
    /* background-color: #bafd00; */
    background: linear-gradient(rgb(4, 132, 4),#bafd00);
    display: flex;
    position: relative;
    /* padding: 2vh; */
    /* justify-content: center; */
    /* align-items: center; */
}
#footer img{
    position: absolute;
    height: 10vh;
    margin: 10vh 0vh 0vh 10vw;
    transition: all linear 0.5s;
    z-index: 2;
}
#footer img:hover{
    height: 7vh;
}
#footer h4{
    font-size: 3vh;
    color: black;
    /* margin-top: 5vh; */
    /* margin-right: 40vh; */
}
#home{
    position: absolute;
    margin: 15vh 0vh 0vh 30vw;
}
#contactuse{
    position: absolute;
    margin: 15vh 0vh 0vh 50vw;
}
#lol{
    position: absolute;
    margin: 15vh 0vh 0vh 70vw;
}